<div class="systemMessage">
  <p>Welcome Timmy!</p>
</div>
<div class="playerMessage">
  <div class="playerMessageHeader">
    <img src="https://avatars.dicebear.com/api/human/timmy.svg" alt="" />
    <p>Timmy Cake</p>
  </div>
  <div class="playerMessageBody">
    <p>!Help</p>
  </div>
</div>
<div class="systemMessage">
  <p>
    Help? Of course no problem. Here's a list of things I can help you with.
    <i>inserts list of help things</i>
  </p>
</div>
<div class="playerMessage">
  <div class="playerMessageHeader">
    <img src="https://avatars.dicebear.com/api/human/timmy.svg" alt="" />
    <p>Timmy Cake</p>
  </div>
  <div class="playerMessageBody">
    <p>!quest</p>
  </div>
</div>
<div class="systemMessage">
  <p>
    Timmy goes on a quest and encounters an enemy. There's no escape... BEGIN!
  </p>
  <p>Timmy swings and slashs enemy for 23 damage</p>
</div>
<div class="playerMessage fighter">
  <div class="playerMessageHeader">
    <img src="https://avatars.dicebear.com/api/human/billy.svg" alt="" />
    <p>Billy Sauce</p>
  </div>
  <div class="playerMessageBody">
    <p>Lol, do better.</p>
  </div>
</div>
<div class="playerMessage">
  <div class="playerMessageHeader">
    <img src="https://avatars.dicebear.com/api/human/timmy.svg" alt="" />
    <p>Timmy Cake</p>
  </div>
  <div class="playerMessageBody">
    <p>🤫</p>
  </div>
</div>
