{% extends "base.html" %} {% block title %} Index {% endblock %} {% block body
%}
<body>
  <p style="position: absolute; top: 5px; left: 45%; z-index: 1">
    Logged in as {{ name }}. <a href="/auth/logout/">Logout?</a>
  </p>
  <section id="centerSection" class="columns">
    <section id="chatWindowSection" class="column is-three-quarters">
      <div id="chatWindow" class="box">
        <div id="chatHeader">
          <center>Chat Window</center>
        </div>
        <div id="chatBody"></div>
      </div>
      <section id="actionButtonsSection">
        <div
          id="actionButtonsContainer"
          hx-get="/get/buttons/action/"
          hx-trigger="load"
        ></div>
      </section>
    </section>
    <section id="generalSection" class="column">
      <div id="generalWindow" class="box slide-across">
        <center>General Window</center>
        <p>Get started by pressing the Profile button below</p>
      </div>
      <section id="menuButtonsSection" class="buttons">
        <button
          id="shopButton"
          class="to-dark"
          hx-get="/get/shop/"
          hx-target="#generalWindow"
          hx-swap="innerHTML transition:true"
        >
          Shop
        </button>
        <button
          id="invButton"
          class="to-dark"
          hx-get="/get/inventory/"
          hx-target="#generalWindow"
          hx-swap="innerHTML transition:true"
        >
          Inventory
        </button>
        <button
          id="upgradeButton"
          class="to-dark"
          hx-get="/get/upgrades/"
          hx-target="#generalWindow"
          hx-swap="innerHTML transition:true"
        >
          Upgrades
        </button>
        <button
          id="profileButton"
          class="to-dark"
          hx-get="/get/stats/"
          hx-target="#generalWindow"
          hx-swap="innerHTML transition:true"
        >
          Profile
        </button>
      </section>
    </section>
  </section>

  <script>
    const inactiveNotice = (event) => {
      alert("This features is not yet available.");
    };
    document.querySelectorAll(".inactive").forEach((element) => {
      element.addEventListener("click", inactiveNotice);
    });
  </script>
  <script src="{{ url_for('static', filename='scripts/game.js') }}"></script>
  {% endblock %}
</body>
