<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  </head>
  <body>
    <section id="centerSection" class="columns">
      <section id="actionButtonsSection" class="column">
        <div id="actionButtonsContainer" class="buttons">
          <button id="questButton" class="button is-large">Quest</button>
          <button id="jobButton" class="button is-large">Job</button>
          <button id="trainButton" class="button is-large">Train</button>
        </div>
      </section>
      <section id="chatWindowSection" class="column is-half">
        <div id="chatWindow" class="box">
          <div id="chatHeader">
            <center>Chat Window</center>
          </div>
          <div id="chatBody"></div>
        </div>
        <div id="inputDiv">
          <input type="text" name="command" id="command" class="input" />
          <!-- <button id="submitButton" class="button"></button> -->
        </div>
      </section>
      <section id="profileSection" class="column">
        <div id="profileContainer" class="box">
          <div id="statHeader">
            <center>Stat Window</center>
          </div>
          <div id="profileFiller"></div>
        </div>
      </section>
    </section>
    <hr style="color: white" />
    <section id="bottomSection">
      <section id="menuButtonsSection" class="buttons">
        <button id="shopButton" class="button is-medium is-primary">
          Shop
        </button>
        <button id="invButton" class="button is-medium is-link">
          Inventory
        </button>
        <button id="upgradeButton" class="button is-medium is-info">
          Upgrades
        </button>
        <button id="profileButton" class="button is-medium is-success">
          Profile
        </button>
      </section>
    </section>
  </body>
</html>
