<div id="profileHeader" class="columns">
  <div id="headerImage" class="column">
    <img
      src="https://avatars.dicebear.com/api/human/timmy.svg"
      alt=""
      height="80px"
      width="80px"
    />
  </div>
  <div id="headerData" class="column is-three-quarters">
    <p>Name: Timmy Cake</p>
    <progress class="progress is-primary" value="35" max="80">43.75%</progress>
    <div id="levelInfo">
      <p>Exp: 35/80</p>
      <span>Level 3</span>
    </div>
  </div>
</div>
<hr />
<div id="profileBody" class="columns">
  <div id="profileColumn1" class="column">
    <p>Health: 225/225</p>
    <p>Power: 80</p>
    <p>Crit Chance: 10%</p>
    <p>Ability: Warrior Cry</p>
  </div>
  <div id="profileColumn2" class="column">
    <p>Tier 1</p>
    <p>Defense: 47</p>
    <p>Heal Chance: 15%</p>
    <p>Passive: Wide Guard</p>
  </div>
</div>
