{% if stats %}
<div id="upgradeHeader">
  <center>Upgrade Window</center>
</div>
<div id="upgradeInfo">
  <ul style="list-style-type: disc">
    <li>To upgrade a stat, you must first have enough Paradians.</li>
    <li>You may then use the command `!upgrade stat_name`</li>
    <li>This command will increase the stat by the upgrade amount</li>
    <li>You may also use the `!upgrade stat_name max` command</li>
    <li>This will upgrade a stat as much as it can based on your Paradians</li>
    <li>You may also use `!upgrade stat_name amount` command</li>
    <li>
      This will increase the stat up to `amount` times (given you have enough
      Paradians)
    </li>
    <li>Use !help upgrade for more information on upgrading.</li>
  </ul>
</div>
<hr />
<div id="upgradeStatInfo">
  <p>Level: {{ stats.level }}</p>
  <p>Paradians: {{ stats.pcoins }}₱</p>
</div>
<div id="upgradeStatList">
  {% for stat_item in stat_items %}
  <div class="upgradeStatCard card">
    <p class="card-header-title is-centered">
      {{ stat_item.name }}: {{ stat_item.current_max }} / {{ stat_item.cap }}
    </p>
    <div class="statContent">
      <p>Increase by: {{ stat_item.incr }}</p>
      <p>Price: {{ stat_item.price }}₱</p>
      <p>!upgrade {{ stat_item.name }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No data loaded</p>
{% endif %}
