center {
  font-weight: bold;
}

#paradiansDiv {
  display: flex;
  justify-content: right;
}

section {
  margin-bottom: 1em;
}

#centerSection {
  padding-top: 1em;
  max-height: 85vh;
  min-height: 85vh;
}

.border {
  border: 1px solid blue;
}

.to-light {
  background-color: #333;
  color: white;
  transition: 0.4s;
}

.to-light:hover {
  color: black;
  background-color: #f9f9f9;
}

.to-dark {
  background-color: rgb(240, 236, 230);
  transition: 0.6s;
}

.to-dark:hover {
  color: rgb(240, 236, 230);
  background-color: black;
}

/* Action buttons */

#actionButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#actionButtonsContainer > button {
  flex: 1 4 auto;
  margin: 0.5em;
  padding: 0.7em;
}

/* Menu buttons */

#menuButtonsSection {
  display: flex;
  justify-content: space-evenly;
}

#menuButtonsSection > button {
  min-width: 45%;
  max-width: 45%;
  margin-bottom: 1em;
  border-radius: 5%;
  border: 1px solid;
  padding: 0.7em;
}

/* Chat window Styling  */

#chatWindow {
  min-height: 65vh;
  max-height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  margin-left: 0.5em;
}

#chatBody {
  flex: 2 1 auto;
  font-size: small;
}

.systemMessage {
  text-align: center;
}

.playerMessage {
  margin-top: 1em;
  margin-bottom: 1em;
}

.playerMessageHeader {
  display: flex;
  align-items: baseline;
}

.playerMessageHeader > img {
  height: 35px;
  width: 35px;
}

.playerMessageBody {
  background-color: rgb(197, 237, 197);
  border-radius: 5px;
  min-width: 30%;
  width: fit-content;
  max-width: 70%;
  padding: 0.5em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.fighter {
  margin-left: auto;
  min-width: 30%;
  width: fit-content;
  max-width: 70%;
}

.fighter .playerMessageBody {
  background-color: aquamarine;
  min-width: 100%;
}

.fighter .playerMessageHeader {
  width: fit-content;
  margin-left: auto;
}

/* General Window */
#generalWindow {
  min-height: 100%;
  max-height: 100%;
  background-color: #fffefe;
  overflow-y: scroll;
}

.generalGrid {
  display: grid;
  font-size: small;
}

.statHeader {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.info {
  font-size: small;
  margin-bottom: 1em;
}

/* Profile */

#profileData {
  height: 100%;
}

#levelInfo {
  display: flex;
  justify-content: space-between;
}

#profileBody {
  display: flex;
  flex-direction: column;
}

/* Upgrades  */
#upgradeInfo {
  font-size: smaller;
}

.upgradeStatCard {
  margin-top: 0.5em;
}

.statContent {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

/* Inventory */
/* Shop */
.itemCard {
  padding: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

.bubble {
  border: 1px solid green;
}

#shopButtonList {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
}
